#about {
    background-color: var(--surface-color);

    & .about-wrapper {
        align-items: center;
        gap: 2rem; 
    }

    & h2 {
    font: var(--fw-eb) var(--fs-xl)/1.2 var(--ff-sans);
    margin-block: .5rem;
    }

    & p {
        font: var(--fw-base) var(--fs-regular)/1.6 var(--ff-sans);
        color: var(--text-color-secondary);
    }

}