section {
    & article {
        & span {
            font: var(--fw-md) var(--fs-sm)/100% var(--ff-sans);
            letter-spacing: 0.08em;
            color: var(--brand-color-primary);
            text-transform: uppercase;
        }
    }
}

#smartphones-img {
    background-image: url(../assets/images/bg-hero-mobile\ copy.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    margin-top: 5rem;
}

@media (width >= 80em) {
    #smartphones-img {
        display: none;
    }
}