
.py-base {
    padding-block: var(--padding-y-base);
}

.py-lg {
    padding-block: var(--padding-y-lg);
}

.py-lgx {
    padding-block: var(--padding-y-lgx);
}

.py-xl {
    padding-block: var(--padding-y-xl);
}

.px-rgl {
    padding-inline: var(--padding-x);
}

.desktop-only {
    display: none;
}

.grid-display {
    display: grid;
    gap: 1rem;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.container {
    --max-width: 375px;
    width: min(var(--max-width), 100% - var(--padding-x) * 2); /* the min() will get the smallest value betweend the two separeted by the comma. If the second value is smaller, it will get 100% from the element's width and subtract the --padding-x value (that by the way this var() has nothing to do with the padding propriety)*/
    margin-inline: auto;
}

.card {
    background-color: var(--surface-color);
    border: 1px var(--stroke-color);
    border-radius: 1.5rem;

    & h3 {
        margin-block: 1rem .5rem;
        letter-spacing: -0.8px;
    }

    & p {
        color: var(--text-color-secondary);
    }
}

@media (width >= 80em) {
    .container {
        --max-width: 80em;
    }

    .desktop-only {
        display: initial;
    }

    .grid-display {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
}
