
.py-base {
    padding-block: var(--padding-y-base);
}

.py-lg {
    padding-block: var(--padding-y-lg);
}

.py-xl {
    padding-block: var(--padding-y-xl);
}

.desktop-only {
    display: none;
}

.column-display {
    display: grid;
    gap: 1rem;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.container {
    --max-width: 375px;
    width: min(var(--max-width), 100% - var(--padding-x) * 2);
    margin-inline: auto;
}

@media (width >= 80em) {
    .container {
        --max-width: 80em;
    }

    .desktop-only {
        display: initial;
    }

    .column-display {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
}